<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <a href="/">Home</a>
  </head>

  <body>
    <h1>About Page</h1>
    <p><%= "<content>" %></p>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
